.content-activities{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--background-border);

}
.content-activities-form{
    flex: 1;
}
.content-activities-list{
    flex: 4;
}