.content-activity-list{
    flex: 4;
    display: flex;
    
    flex-direction: column;
}
.content-list{
 flex: 12;
 margin: 16px;
 overflow-y: auto;
 overflow: hidden;
 
}
.content-title{
    flex: 1;
}

.content-activity{
    width: 100%;
    height: 86px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--background-border);
    margin-bottom: 12px;
    border-radius: 10px;
    padding: 14px;
    box-sizing: border-box;
    gap: 10px;
    
    
}
.content-info-activity{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex: 1;
 
}
.content-info-activity:first-child{
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
}
.content-info-activity:last-child{
  border-top:1px solid var(--background-border) ;
  justify-content: space-between;
  padding-top: 10px;
    
}

.button-edit{
    
    
    background-size: contain;
    border: none;
    background-color: transparent;
    cursor: pointer;

    
}
.button-delete{
    background-size: contain;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.content-info{
    display: flex;
    flex-direction: row;
}
.content-button{
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: row;

   
}
.content-button button{
    width: 20px;
    height: 100%;
    margin-left: 10px;
}


