form{
    display: flex;
    flex-direction: column;



}
.content-activity-form{
    flex: 1;



}
.content-predecessors{
    max-height: 40px;
    overflow-y: auto;
    
   

}
.content-predecessors label{
    border: solid 1px;
    

}