.content-app{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
}


.content-header{
  display: flex;
  flex-direction: row;
  flex:1;
  border-bottom: 1px solid var(--background-border) ;
}
main{
  
  flex: 12;
}
.content-activities-diagram{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.content-activity-panel{
  flex: 1;
}
.content-results{
  flex: 2;
  display: flex;
  flex-direction: column;
}
.diagram{
  flex: 1;

}
.results{
  flex: 1;
}