:root{
    --background-principal: #0B0F19;
    --background-superfices: #111827;
    --background-content-node:#1A2234;
    --background-border:#1F293D;
    --background-button:#4F46E5;
    --background-content-total:#1E293B;

}
*{
    margin: 0%;
    padding: 0%;
    
}
body{
    background: var(--background-principal);
    color: aliceblue;
}
